<mat-card *ngIf="loaded; else loading">

  <mat-card-title>{{company.description}} ({{company.symbol}})
    <a (click)="remove()" id="{{'remove'+ company.symbol}}" class="remove">
      <mat-icon fontIcon="close"></mat-icon>
    </a>
  </mat-card-title>


  <mat-card-content>

    <div class="grid-container content">
      <div class="grid-item">
        <div class="grid-container values">
          <div class="grid-item">
            <span class="label">Change today:</span>
            <span class="value">{{quote.dp / 100 | percent: '1.1-1'}}</span>
          </div>
          <div class="grid-item">
            <span class="label">Opening price:</span>
            <span class="value">{{quote.o | currency: 'USD'}}</span>
          </div>
          <div class="grid-item">
            <span class="label">Current price:</span>
            <span class="value">{{quote.c | currency: 'USD'}}</span>
          </div>
          <div class="grid-item">
            <span class="label">High price:</span>
            <span class="value">{{quote.h | currency: 'USD'}}</span>
          </div>

        </div>
      </div>
      <div class="grid-item">
        <app-tendency [value]="quote.dp"></app-tendency>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button
            id="{{'sentiment'+ company.symbol}}"
            [routerLink]="'/sentiment/' + symbol">Go to social sentiment details
    </button>
  </mat-card-actions>

</mat-card>

<ng-template #loading>
  <mat-card>
    <mat-card-title>Loading...</mat-card-title>
    <mat-card-content></mat-card-content>
  </mat-card>
</ng-template>
